# 1. Secret Environment Variables
.env

# 2. ignore specific project folders/subfolders
configs/caddy/cloudflare_certs/*
configs/lemonade/sideload/*

# 3. Keep the directory structure
!configs/caddy/cloudflare_certs/.gitkeep
!configs/lemonade/sideload/.gitkeep

# 4. OS/Editor Junk
.DS_Store
Thumbs.dub
.vscode
.continue

