# 1. Secret Environment Variables
.env

# 2. SSL/Identity Vault
# We ignore the contents so your private keys stay off the web
configs/caddy/cloudflare_certs/*
!configs/caddy/cloudflare_certs/.gitkeep

# 3. vllm tuning file for model
# We ignore the contents so we dont upload files we shouldnt to
# git.
configs/vllm/vllm_tuning/*
!configs/vllm/vllm_tuning/.gitkeep

# 4. OS/Editor Junk
.DS_Store
Thumbs.db
.venv
